* {
	padding:0;
	list-style:none;
	text-decoration:none;
	font-style:normal;
	vertical-align:middle;
	margin-top: 0px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;	
} 
#corpo {
	width: 780px;
	height:900px;
	margin: 0 auto;
	padding:: 5px;
}

#cabecalho{
	width: 713px;
	height:: 850px;
	margin:0 auto;
	background:url(images/fundo01.jpg) repeat-x;
	display:table;
	height: 850px;
}

#cab_menu{
	margin-top:109px;
	margin-right:280px;
	margin-left:11px;
	display:table;
}

#cab_menu ul {margin-left:11px}

#cab_menu ul li {display:inline}

#cab_menu ul li a:link, #cab_menu ul li a:active, #cab_menu ul li a:visited{
	display:block;
	float:left;
	text-transform:uppercase;
	color:#fff;
	margin-right:8px;
	padding:0 3px;
	font-family: "Arial Black",Helvetica, sans-serif;
	font-weight: bold;
	font-size: 13px;
}
#cab_menu ul li a:hover{
	background:#fff;
	color:#666;	
}

#login {
	margin-top:40px;
	margin-right:330px;
	margin-left:67px;
	display:table;	
}

#titles{
	margin-top:65px;
	margin-right:100px;
	margin-left:18px;
	display:table;
	height: 30px;
}
#titles ul li {display:inline}
#titles ul li a:link, #titles ul li a:active, #titles ul li a:visited{
	display:block;
	float:left;
	text-transform:uppercase;
	color:#FFCC00;
	margin-right:30px;
	padding:0 40px;
	font-family: "Arial Black",Helvetica, sans-serif;
	font-weight: bold;
	font-size: 16px;
	margin-left: 15px;
}
#conteudo{
	margin-top:58px;
	margin-right:11px;
	margin-left:18px;
	height: 510px;	
}
#conteudo div.eventos{
	width:214px;
	float:left;
	height: 508px;
}
#conteudo div.recentes{
	width:455px;
	float:right;
	height: 508px;
}
#recentes div.recentes.coluna_esquerda{
	width:100px;
	float:left;	
}
#recentes div.recentes.coluna_direita{
	width:100px;
	float:right;	
}
